<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alegra</title>
  <link rel="stylesheet" href="./styles/style.css">
  <link rel="stylesheet" href="./styles/styleMobile.css">
  <link rel="stylesheet" href="./styles/styleTablet.css">
</head>
<body>
  <main id="app">
    <navbar-component></navbar-component>
    <header-component></header-component>
    <form-component></form-component>
    <datosusuario-component 
    v-if="showMessage"
    >
    </datosusuario-component>
    <logos-component></logos-component>
    <solutions-component>
      <card-component 
      v-for="solution in infoSolutions" 
      v-bind:solution="solution">
      </card-component>
    </solutions-component>
    <list-component>
      <li v-for="item in listItems">{{ item }}</li>
    </list-component>
    <footer-component></footer-component>
  </main>
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./js/app.js"></script>
</html>